*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Karma, sans-serif;
}

#main-container {
  padding: 0 60px;
  line-height: 1.5;
}

.header {
  padding: 0 50px;
  display: inline-flex;
  width: 100%;
  position: fixed;
  color: #000;
  background-color: #fff;
  font-size: 24px;
}

.my-food {
  font-size: 24px;
  text-align: center;
  padding: 16px;
  margin-left: 37%;
}

.mail {
  font-size: 24px;
  margin-left: 38%;
  padding: 16px;
}

.menu {
  padding: 0 8px;
  user-select: none;
  padding: 16px;
  font-size: 24px;
}

.menu:hover {
  background-color: #ccc;
}

.empty-space {
  height: 70px;
}

.gridcontainer {
  display: grid;
  width: 100%;
  /* grid-template-columns: repeat(autofill, minmax(200px, 1fr)); */
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0;
  row-gap: 15px;
  margin: auto;
  justify-content: center;
}

.cell {
  padding: 10px;
  margin: 0;
}

.cell-image {
  width: 100%;
  height: auto;
}

.cell h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}

.cell p {
  text-align: center;
  margin: 18px 0;
}

hr {
  opacity: 0.2;
  width: 99%;
  margin: 0 50px 0 7px;
}

.page-num ul {
  text-align: center;
  margin-left: 40%;
}

ul {
  display: flex;
}

ul li {
  list-style-type: none;
}

.hover-black {
  padding: 8px 15px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
}

.hover-gray {
  background-color: #000;
  color: #fff;
}

.hover-black:hover {
  background-color: #000;
  color: #fff;
}

.hover-gray:hover {
  background-color: #ccc;
  color: #000;
}

.author h3 {
  text-align: center;
  font-weight: 400;
  margin: 35px 0 30px;
  font-size: 24px;
}

h4 {
  font-size: 20px;
  text-align: center;
}

.me-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

blockquote {
  text-align: center;
  margin: 15px auto;
}

.author p {
  margin: 0 1%;
  text-align: center;
}

.last-sect {
  display: flex;
  column-gap: 30px;
  margin-bottom: 30px;
}

.last-middle {
  display: flex;
  align-items: center;
  padding: 10px;
}

.middle-last h3 {
  font-weight: 400;
  margin: 10px 0;
  font-size: 24px;
}

.bottom {
  border-top: 1px solid lightgray;
  flex-basis: 35%;
  padding-right: 150px;
}

.last-middle img {
  width: 50px;
  height: 52px !important;
  margin-right: 15px;
}

.contries {
  flex-basis: 35%;
}

.contries h3 {
  font-weight: 400;
  margin: 10px 0;
  font-size: 24px;
}

.county-lines {
  display: inline-block;
  margin: 7px;
}

.county-lines label.country1 {
  background-color: #000;
  color: #fff;
  padding: 3px 8px;
}

strong {
  font-size: 14px;
}

.county-lines label {
  color: #fff;
  background-color: #616161;
  font-size: 12px !important;
  padding: 0 8px;
}

.last-sect-start {
  flex-basis: 35%;
}

.last-sect-start h3 {
  font-weight: 400;
  margin: 10px 0;
  font-size: 24px;
}

.last-sect-start p {
  font-size: 15px;
  margin: 15px 0;
}

.last-sect-start p a {
  font-size: 15px;
  margin: 15px 0;
  color: #000;
}

@media screen and (max-width: 600px) {
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    overflow-x: hidden;
  }

  #main-container {
    padding: 0 25px;
    max-width: 100%;
    overflow-x: hidden;
  }

  .header {
    font-size: 18px;
    position: fixed;
    max-width: 100%;
    overflow-x: hidden;
  }

  .menu {
    margin-left: 15px;
  }

  .my-food {
    margin-left: 20%;
    font-size: 20px;
  }

  .mail {
    margin-left: 28%;
    font-size: 20px;
  }

  .gridcontainer {
    grid-template-columns: 1fr;
    max-width: 100%;
    overflow-x: hidden;
  }

  img.cell-image {
    width: 100%;
    height: auto;
    border-style: none;
    vertical-align: middle;
  }

  .cell:nth-last-of-type(8) {
    grid-column: 1;
    grid-row: 1 !important;
  }

  .cell:nth-last-of-type(2) {
    grid-column: 1;
  }

  .cell:nth-last-of-type(3) {
    grid-column: 1;
    justify-content: center;
  }

  .cell:nth-last-of-type(4) {
    grid-column: 1;
    grid-row: 4;
  }

  .cell:nth-last-of-type(5) {
    grid-column: 1;
    grid-row: 5;
  }

  .cell:nth-last-of-type(6) {
    grid-column: 1;
    grid-row: 6;
  }

  .cell:nth-last-of-type(7) {
    grid-column: 1;
    grid-row: 7;
  }

  .cell:nth-last-of-type(1) {
    grid-column: 1;
    grid-row: 8;
  }

  .page-num ul {
    text-align: center;
    margin-left: 30%;
  }

  .author-img {
    margin: 0 20px 0 15px;
    max-width: 100%;
    overflow-x: hidden;
  }

  .last-sect {
    display: block;
    max-width: 100%;
    overflow-x: hidden;
  }

  .last-middle {
    margin: 0 20px;
  }

  .last-sect-start {
    width: 100%;
  }

  .contries {
    width: 100%;
  }
}
